.search-block {
  &__wrapper {
    background-image: url("../../assets/images/background/SearchBlock.png");
    height: 656px;
    background-position: center;
    display: flex;
    flex-direction: column;
  }
  &__finder {
    top: -50px;
  }
}
.search-block__content {
  max-width: 580px;
  margin-left: 60px;
  margin-top: 88px;
  &-title {
    font-size: $font-size * 4;
    line-height: 80px;
    margin-bottom: 30px;
  }
  &-description {
    font-size: $font-size * 1.25;
    display: flex;
    margin-bottom: 50px;
  }
}

.search-block__content-link {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
  &-btn {
    margin-right: 16px;
    padding: 0;
    border: none;
    background-color: transparent;
  }
  &-description {
    font-weight: $font-weight * 0.8;
    font-size: $font-size * 1.25;
  }
}
