.search-block {
  background-image: url("../../assets/images/background/SearchBlock.png");
  height: 656px;
  background-position: center;
  display: flex;
  flex-direction: column;
  &__finder {
    top: -50px;
  }
  &__content {
    max-width: 580px;
    margin-left: 60px;
    margin-top: 88px;
  }
  &__title {
    font-size: $font-size * 4;
    line-height: 80px;
    margin-bottom: 30px;
  }
  &__description {
    font-size: $font-size * 1.25;
    display: flex;
    margin-bottom: 50px;
  }
  &__link {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
  }
  &__btn {
    margin-right: 16px;
    padding: 0;
    border: none;
    background-color: transparent;
  }
  &__link-description {
    font-weight: $font-weight * 0.8;
    font-size: $font-size * 1.25;
  }
}
