/*variables*/
@import "/src/assets/scss/core/variables";
/*fonts*/
@import "/src/assets/scss/core/fonts";
/*components*/
@import "/src/assets/scss/components/index";
/*pages*/
@import "/src/assets/scss/pages/index";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
}
.layout {
  display: flex;
  flex-direction: column;
}

body {
  font-family: $font-stack;
  font-size: $font-size;
  font-weight: 400;
  line-height: $line-height;
  color: $font-color;
  min-width: 300px;
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
}

.btn {
  text-decoration: none;
  color: white;
  font-size: 14px;
  padding: 10px 20px;
  background-color: $primary-color;
  border-radius: 35px;
  border: none;
}
