.search-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-right: 5px;
  margin-left: 5px;
  &__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-radius: 18px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.313);
    cursor: pointer;
  }
  &__img {
    border-radius: 18px;
  }
  &__title {
    font-size: $font-size;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &__grade {
    padding: 0 20px 0 20px;
    display: flex;
    gap: 5px;
    justify-content: flex-start;
  }
  &__star {
    color: $primary-color;
  }
  &__error {
    margin-top: 40px;
  }
}
