.finder {
  display: flex;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.057);
  background-color: white;
  margin: 0 auto;
  border-radius: 60px;
  position: relative;
  &__item {
    display: flex;
    padding: 0 30px;
    margin: 30px 0;
    gap: 14px;
    border-right: 1px solid rgba(232, 232, 232, 1);
  }
  &__item:nth-child(4) {
    border-right: none;
  }
  &__item-text {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 8px;
  }
  &__item-title {
    font-size: $font-size * 1.25;
    line-height: $line-height * 0.75;
  }
  &__item-description:hover {
    text-decoration: underline;
  }
  &__item-description {
    font-size: $font-size * 0.875;
    line-height: $line-height * 0.5;
  }
  &__search {
    border-radius: 60px;
    padding: 38px 46px;
    display: flex;
    margin-left: 85px;
    align-items: center;
    gap: 15px;
    background-color: $primary-color;
    border: none;
    cursor: pointer;
    font-size: $font-size * 1.125;
    color: white;
  }
  &__search-description {
    font-size: $font-size * 1.125;
    color: white;
  }
}

.portal-modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__content {
    z-index: 3;
    border-radius: 18px;
    background-color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding: 25px 50px;
  }
  &__submit {
    margin: 0 32px;
    cursor: pointer;
  }
  &__counter {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
  &__title {
    width: 60px;
  }
  &__btn {
    font-size: $font-size * 1.2;
    text-align: center;
    border: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
  }
}
.location-input {
  width: 100px;
  font-size: $font-size * 0.875;
  padding: 2px 0px 2px 15px;
  border: 1px solid gray;
  border-radius: 10px;
}
@keyframes BgBrightness {
  0% {
    backdrop-filter: brightness(1);
  }
  100% {
    backdrop-filter: brightness(0.7);
  }
}
