.header {
  padding: 30px 0px;
  &__wrapper {
    display: flex;
    position: relative;
    justify-content: flex-end;
    padding: 0px 20px;
  }
  &__links {
    position: absolute;
    top: 25%;
    left: 33%;
  }
  &__links-path {
    text-align: center;
    padding: 0 20px;
    cursor: pointer;
    text-decoration: none;
    color: $font-color;
  }
  &__btns {
    display: flex;
    gap: 20px;
  }
}
